<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Haven - Service Provider Dashboard</title>
    <link rel='stylesheet' href='static/css/ser_pro.css'>
</head>
<body>
    <header>
        <h1>Pet Haven - Service Provider Dashboard</h1>
    </header>
    <nav>
        <a href="{{url_for('service_provider_landing')}}">Home</a>
        <a href="{{url_for('trainer_services')}}">Dog Spa and Management</a>
        
    </nav>
    <main>
        <section>
           
            <div class="message ">
                <h2 class="text-center">Upcoming Bookings</h2>
                <p class="text-center">Please check your Bookings.</p>
                <a href="{{ url_for('trainer_services') }}" class="btn">Dog Spa Management </a>
            </div>
        </section>
    </main>
</body>
</html>
